{% extends 'base.html' %}

{% block content %}
<br>



<body>

<br>
      {% for blog in posts %}
      <div class="container">
          <div class= "flex">
            <a href="{% url 'detail' blog.id %}" style="text-decoration : none" class="left">
                <h1>{{ blog.title }}</h1>
            </a>
            <p class="right">{{ blog.pub_date }}</p>
          </div>
          <p>{{ blog.summary }}<a href="{% url 'detail' blog.id %}">...more</a></p>
          <a href="{% url 'detail' blog.id %}">Comments: {{ blog.comments.count }}</a>
			
      </div>
      {% endfor %}

      <!-- First Previous 3of4 Next Last -->
      <div class="container">
          {% if posts.has_previous%}
            <a href="?page=1">First</a>
            <a href="?page={{posts.previous_page_number}}">Previous</a>
          {%endif%}

          <span>{{posts.number}}</span>
          <span>of</span>
          <span>{{posts.paginator.num_pages}}</span>

        {% if posts.has_next %}
            <a href="?page={{posts.next_page_number}}">Next</a>
            <a href="?page={{posts.paginator.num_page}}">Last</a>
        {%endif%}
    </div>
</body>

{% endblock %}